<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: `Gracias ${nombreUsuario}`}) %>
<body <%= colorForm %>>
    <main>
        <div class="box-form">
            <h1 class="titulo"><%= nombreUsuario %>, gracias por visitarnos.</h1>
        </div>
    </main>
</body>
</html>